# Verkregen via de Snelstart koppeling in jouw Snelstart administratie
SNELSTART_CLIENT_KEY=

# Subscription key van https://b2bapi-developer.snelstart.nl (onder je profiel > subscriptions)
SNELSTART_SUBSCRIPTION_KEY=
